* {
    margin: 0;
    padding: 0;
}
.container {
    height: 100vh;
    width: 100%;
    background-image: url("./images/background.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container > h1 {
    font-family: "Sacramento", "cursive";
    font-size: 100px;
    color: #53629E;
}

.container > p {
    font-family: "Montserrat", "Sans Serif";
    font-size: 40px;
    color: #53629E;
}

.resume {
    height: 100vh;
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.resume > div {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.resume > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resume h2 {
    padding: 50px 0;
    font-family: "Montserrat", "Sans Serif";
    font-size: 40px;
    color: #53629E;
}

.resume p {
    width: 35%;
    text-align: center;
    font-size: 20px;
    font-family: "Merriweather", "Serif";
}

.projects {
    background-color: #D6F4ED;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects > h2 {
    margin: 20px 0;
    font-family: "Montserrat", "Sans Serif";
    font-size: 40px;
    color: #53629E;
}
.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    margin: 20px 60px;
}

.preview {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border: 5px solid #473472;
    border-radius: 10%;
}

.preview img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.projects-container > div p {
    margin: 10px 0;
    width: 100%;
    font-family: "Merriweather", "Serif";
    color: #53629E;
}

.projects-container button {
    width: 60px;
    height: 30px;
    margin-top: 10px;
    background-color: #473472;
    border: #473472;
    border-radius: 5px;
}

.projects-container button a {
    color: #fff;
    font-family: "Montserrat", "Sans Serif";
    text-decoration: none;
}

.projects-container button:hover {
    background-color: #53629E;
    width: 65px;
    height: 35px;
}

.contact-me{
    height: 100vh;
}
.contact {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact h2, .contact p {
    font-family: "Merriweather", "Serif";
    color: #53629E;
    margin: 20px 0;
    text-align: center;
}

.contact h2 {
    font-size: 40px;
}

.contact button {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #473472;
    background-color: #87BAC3;
}

.contact button a {
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat", "Sans Serif";
}

.contact button:hover {
    background-color: #D6F4ED;
}

.footer {
    width: 100%;
    height: 25%;
    background-color: #87BAC3;
    text-align: center;
    color: #fff;
    padding: 50px 0;
}

.footer a {
    color: #473472;
    padding-left: 30px;
    text-decoration: none;
    font-family: "Montserrat", "Sans Serif";
}

.footer a:hover {
    color: #fff;
}

.footer p {
    padding-top: 50px;
    font-family: "Montserrat", "Sans Serif";
}

@media screen and (max-width: 600px) {
    .container > h1 {
        font-size: 60px;
    }

    .container > p {
        font-size: 30px;
    }
    .resume p {
        width: 45%;
    }
    .projects-container {
        display: flex;
        flex-direction: column;
        
    }
    .preview {
        width: 0;
        height: 0;
        visibility: hidden;
    }
    .projects-container button {
        margin-left: 0;
    }
    .contact p {
        width: 75%;
    }

}